<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">

    <channel>

        <title>Matt Tarbit's Weblog</title> 
        <link><%= index_url %></link>
        <description>Matt Tarbit's Weblog</description>
        <language>en</language>
        <atom:link href="<%= rss_url %>" rel="self" type="application/rss+xml" />

        <% for entry in @entries -%>
            <item>
                <title><%= entry.page_title %></title>
                <link><%= entry_url(entry) %></link>
                <guid><%= entry_url(entry) %></guid>
                <description>
                    <%= render(:partial => "partials/variants/#{entry.variant}/feed", :locals => { :entry => entry } ) %>
                </description>
                <pubDate><%= entry.created_at.rfc822 %></pubDate>
            </item>
        <% end -%> 

    </channel> 

</rss>
