<item>
	<title><%=h entry.page_title %></title>
	<link><%= entry_url(entry) %></link>
	<guid><%= entry_url(entry) %></guid>
	<description><%=h markdown(entry.content) %></description>
	<pubDate><%= entry.created_at.rfc822 %></pubDate>
</item>
