<h2 class="link">I've been <%= entry.product.activity %>: <%= link_to(entry.product.title, entry.product.associate_url) %></h2>
<div class="inset-right">
	<%= link_to(image_tag(entry.product.image, :width=>125, :class=>'framed'), entry.product.associate_url) %>
</div>
<%= markdown(entry.content) %>
<p><%= link_to('See this item at amazon.co.uk &rarr;', entry.product.associate_url) %></p>
<div class="clear"></div>
