<% 
c.content = simple_format(c.content)
c.content = auto_link(c.content, :urls) do |t|
	parts = t.sub(%r{https?://},'').split('/')
	(parts.length > 1) ? parts[0] + '/.../' + parts[-1] : parts
end
c.content.gsub!(/(<[aA] )/,'\1 rel="nofollow"')
if !c.website.blank? && c.website.include?('.')
	href = (c.website =~ /^[a-z]+:\/\//) ? c.website : "http://#{c.website}"
elsif !c.email.blank?
	href = "mailto:#{c.email}"
end
%>
<li style="margin-left:<%= depth * 2 %>em;" id="comment-<%= c.id %>">
	<div class="comment">
		<%= c.content %>
	</div>
	<p class="small">
		Posted
		by <%= link_to_if href, c.name.titleize, href %> 
		on <%= link_to (c.created_at || Time.now()).strftime("%e %b %Y at %I:%M %p"), {:anchor=>"comment-#{c.id}"}, {:title=>'Permalink'} %>
	</p>
</li>
