<%
# Format with paragraphs.
c.content = simple_format(c.content)
# Link up urls but remove internal path components to keep them short.
# Also stop spammers from receiving their google juice with nofollow.
c.content = auto_link(c.content, :link => :urls, :html => { :rel => 'nofollow' }) do |t|
    parts = t.sub(%r{https?://},'').split('/')
    (parts.length > 1) ? parts[0] + '/.../' + parts[-1] : parts
end
if !c.website.blank? && c.website.include?('.')
    href = (c.website =~ /^[a-z]+:\/\//) ? c.website : "http://#{c.website}"
elsif !c.email.blank?
    href = "mailto:#{c.email}"
end
href = ''
%>
<li style="margin-left:<%= depth * 2 %>em;" id="comment-<%= c.id %>">
    <div class="comment">
        <%= c.content %>
    </div>
    <p class="small">
        Posted
        by <%= link_to_if href, c.name.titleize, href %>
        on <%= link_to (c.created_at || Time.now()).strftime("%e %b %Y at %I:%M %p"), {:anchor=>"comment-#{c.id}"}, {:title=>'Permalink'} %>
    </p>
</li>
