<% entry.title += (/[.:!?]$/ =~ entry.title) ? '' : '.' %>
<item>
    <title><%= entry.page_title %></title>
    <link><%= entry_url(entry) %></link>
    <guid><%= entry_url(entry) %></guid>
    <description>
        <%= "" + link_to(entry.title, entry.url) %>
        <%= entry.content %>
        <%= "" + render(:partial => "partials/video", :locals => {:entry=>entry}) if entry.video? %>
    </description>
    <pubDate><%= entry.created_at.rfc822 %></pubDate>
</item>
