<% if entry.video? -%>
    <a href="<%= entry.url %>"><img src="<%= entry.thumb_url  %>" width="40%" class="framed inset-right" /></a>
<% end -%>

<h2 class="link">Bookmark for <%= link_to('"%s"' % truncate(entry.title, :length=>60), entry.url) %></h2>
<p><%= entry.content %></p>

<% if entry.video? -%>
    <p><a class="video-link" href="#">Watch this video here &rarr;</a></p>
    <div class="clear"></div>
    <%= render(:partial => "partials/video", :locals => {:entry=>entry} ) %>
<% end -%>

